WCF User Client/WCF User Client/Connected Services/ServidorLoteria/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoBD" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoBD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CuentaSet">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fotoPerfil" nillable="true" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntajeMaximo" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CuentaSet" nillable="true" type="tns:CuentaSet" />
</xs:schema>