WCF User Client/WCF User Client/Connected Services/ServidorLoteria/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServidorLoteria" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServidorLoteria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPuntajeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PuntajeUsuario" nillable="true" type="tns:PuntajeUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPuntajeUsuario" nillable="true" type="tns:ArrayOfPuntajeUsuario" />
  <xs:complexType name="PuntajeUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreUsuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="puntajeMaximo" nillable="true" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PuntajeUsuario" nillable="true" type="tns:PuntajeUsuario" />
</xs:schema>